<div class="main-content">
    <div class="container-fluid">
        <app-datatable *ngIf="dataTableMap"
                       [searchService]="empresaService"
                       [tableMap]="dataTableMap"
                       [tableTitle]="'Empresas'"
                       [withCreateButton]="true"
                       [canEdit]="true"
                       [canDelete]="true"
                       [tableEvents]="dtTrigger.asObservable()"
                       (create)="create()"
                       (edit)="edit($event)"
                       (delete)="delete($event)"
        ></app-datatable>
        <div class="row">
            <div class="col-md-12">

                <!--NEW INSTITUICAO TABLE BEGIN -->
                <div class="card" *ngIf="createOrEdit">
                    <div class="card-header "
                         [class]="selectedEmpresa.id ? 'card-header-warning' : 'card-header-danger'">
                        <h4 class="card-title">{{selectedEmpresa.id ? "Editar" : "Criar"}} Empresa</h4>
                        <p class="card-category">Insira um perfil</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome"
                                               name="nome"
                                               type="text"
                                               [required]="true"
                                               [(ngModel)]="selectedEmpresa.nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Escopo"
                                               name="escopo"
                                               type="text"
                                               [required]="true"
                                               [(ngModel)]="selectedEmpresa.escopo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cidade"
                                               [required]="true"
                                               name="cidade"
                                               type="text"
                                               [(ngModel)]="selectedEmpresa.cidade">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Produtos"
                                               [required]="true"
                                               name="produtos"
                                               type="text"
                                               [(ngModel)]="selectedEmpresa.empresas">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Sobre</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Descrição"></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                                  <div class="form-group">
                                                      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                      <textarea class="form-control" rows="5"></textarea>
                                                  </div>
                                              </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit"
                                    (click)="selectedEmpresa.id ? submitEdit() : submitNew()"
                                    class="btn btn-danger pull-right">{{selectedEmpresa.id ? "Editar" : "Criar"}}
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <!--END NEW EMPRESAS TABLE -->
            </div>
        </div>
    </div>
</div>