<div class="row">
    <div class="col-md-12" *ngIf="tableHeaders">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">{{tableTitle}}</h4>
                <p class="card-category"> Crie, modifique e delete.</p>
                <button *ngIf="withCreateButton"
                        class="btn pull-right btn-round btn-sm"
                        mat-raised-button type="button"
                        matTooltip="Criar"
                        [matTooltipPosition]="'above'"
                        (click)="create.emit()"
                        style="margin-top: -40px; background: white;">
                    <i class="material-icons text-danger">add</i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive" #dataTable>
                    <table datatable [dtOptions]="dtOptions" class="hover stripe nowrap">
                        <thead class="text-primary">
                        <tr>
                            <th *ngFor="let head of tableHeaders ">{{head}}</th>
                            <th *ngIf="canDelete || canEdit" class="no-sort">Funcoes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dt of data;">
                            <td *ngFor="let objKey of tableDataProperty">{{dt[objKey]}}</td>
                            <td class="td-actions" *ngIf="canDelete || canEdit">
                                <button mat-raised-button type="button" *ngIf="canEdit" matTooltip="Editar"
                                        [matTooltipPosition]="'above'"
                                        (click)="edit.emit(dt)"
                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" matTooltip="Deletar"
                                        [matTooltipPosition]="'above'" *ngIf="canDelete"
                                        (click)="delete.emit(dt)"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="data?.length == 0">
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- END TABLE TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>
