<div class="main-content">
    <div class="container-fluid">
        <app-datatable *ngIf="dataTableMap"
                       [searchService]="instituicaoService"
                       [tableMap]="dataTableMap"
                       [tableTitle]="'Instituicoes'"
                       [withCreateButton]="true"
                       [canEdit]="true"
                       [canDelete]="true"
                       (create)="create()"
                       (edit)="edit($event)"
                       (delete)="delete($event)"
        ></app-datatable>
        <div class="row">
            <div class="col-md-12">

                 <!--NEW INSTITUICAO TABLE BEGIN -->
                <div class="card" *ngIf="createOrEdit">
                    <div class="card-header "
                         [class]="selectedInstituicao.id ? 'card-header-warning' : 'card-header-danger'">
                        <h4 class="card-title">{{selectedInstituicao.id ? "Editar" : "Criar"}} Instituição</h4>
                        <p class="card-category">Insira um perfil</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome"
                                               name="nome"
                                               type="text"
                                               [required]="true"
                                               [(ngModel)]="selectedInstituicao.nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Escopo"
                                               name="escopo"
                                               type="text"
                                               [required]="true"
                                               [(ngModel)]="selectedInstituicao.escopo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cidade"
                                               [required]="true"
                                               name="cidade"
                                               type="text"
                                               [(ngModel)]="selectedInstituicao.cidade">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                               [required]="true"
                                               placeholder="Endereço"
                                               type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Sobre</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Descrição"></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                                  <div class="form-group">
                                                      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                      <textarea class="form-control" rows="5"></textarea>
                                                  </div>
                                              </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit"
                                    (click)="selectedInstituicao.id ? submitEdit() : submitNew()"
                                    class="btn btn-danger pull-right">{{selectedInstituicao.id ? "Editar" : "Criar"}}
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                 <!--END NEW INSTITUICAO TABLE -->
            </div>
        </div>
    </div>
</div>